# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Ll]ogs/
.vs/
.vscode/
.vsconfig
*.sln
*.csproj
Assembly-CSharp
Assembly-CSharp-Editor
# Asset Store / third-party
Assets/ADG_Textures/
Assets/HDRPDefaultResources/
Assets/IgniteCoders/
Assets/RockFREE/
Assets/TerrainSampleAssets/
Assets/TextMesh Pro/
Assets/TutorialInfo/
Assets/AwesomeFreeScans/
Assets/H&L Assets/
Assets/Terrain_Textures/
# Keep only project code/content
!Assets/_Project/**
